*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(135deg,rgb(59, 56, 56),green);
    padding: 10px;
  
}
.to-do-app{
    width: 500px;
    max-height: 500px;
    margin: 100px auto 40px;
    border: 1px;
    background:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}
.to-do-app h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
}
.to-do-app h2>img{
    height: 40px;
    width: 40px;
    padding-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #bdb8b8;
    border-radius: 10px;
}
.row >input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    padding: 10px;
}
.row input::placeholder{
    color: black;
    opacity: 0.4;
}
.row button{
    padding:16px 20px ;
    background: rgb(182, 64, 84);
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: azure;
    font-weight: 600;
}
ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px;
    height: 40px;
    user-select: none;
    cursor: pointer;
    display: flex;
    position: relative;
    padding:  10px 50px 10px 50px ;
}
ul li::before{
    content: '  ';
    position: absolute;
    height: 18px;
 
    width: 18px;
    border-radius: 50%;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}
ul li.checked{
    color: #888585;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height:40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: rgb(219, 216, 221);
}